extends ../layout.pug

block links
  link(rel='stylesheet' href='/stylesheets/style.css')

block content
  header.center
    h1= title
  main.main
    h2 Admin Operations
    ul.tasks(style=`list-style-type:none;`)
      li.task
        a(href='/9339/projects/list') Project List/Search/View/Edit
      li.task
        a(href='/9339/respondents/list') Respondent List/Search/View
      li.task
        a(href='/9339/mappings/list') Mappings List
      li.task
        a(href='/9339/projects/new') Create Project
