extends ../layout.pug

block links
  link(rel='stylesheet' href='/stylesheets/style.css')
  link(rel='stylesheet' href='/stylesheets/search.css')

block content
  header.center
    h1= title
  main
    form(action="/admin/search/respondent/create" method="post")
      .input-pair
        label(for='respondentId') Respondent ID:
        input.input#search-respondent-id-button(type='text' name='respondentId' placeholder='Enter respondent ID #')
      .flex.buttons.top-margin
        button.button.red(type="button" onclick="adminUrl()") Admin
        input.button.green(value='Search', type='submit')

  script.
    function adminUrl() {
      window.location.assign(`${window.location.origin}/admin/3355`)
    }
