extends ./../list_layout.pug

block content
  header.center
    h1= title
  main.main.top-margin
    table#project-table.display.nowrap
      thead
        tr
          th Project ID
          th Name
          th Created
          th Updated
          th Respondent Count
      tfoot
        tr
          th Project ID
          th Name
          th Created
          th Updated
          th Respondent Count


    .flex.top-margin
      button.button.red(type=`button` onclick=`adminUrl()`) Admin

  include ../includes/scripts.pug
  script(src=`/javascripts/project_list.js`)

  script.
    function adminUrl() {
      window.location.assign(`${window.location.origin}/admin/3355`)
    }
