extends ../layout.pug

block links
  link(rel='stylesheet' href='/stylesheets/mapping.css')
  link(rel='stylesheet' href='/stylesheets/style.css')

block content
  .container
    header
      h1= title
      p#page-prompt= myprompt
    main.main
      include includes/mapping_svg.pug
    .brands
      #timer
        p.elapsed-time-text 00:00
        button#pause-button Pause Timer
      include includes/mapping_brandnames.pug
      ol#brand-list
    #buttons
      button#submit Submit
  #brand-modal
    .modal-content
      label(for='brand-name') Brand Name:
      input#brand-name-input(type='text' name='brand-name' placeholder='The name of the Brand you are mapping.')
      br
      br
      label(for='brand-notes') Notes:
      input#brand-notes(type='textarea' name='brand-notes' rows='4' cols='40' placeholder='Additional thoughts on this mapping.')
      br
      br
      button.cancel Cancel
      button.save Save
  #paused-modal
    .modal-content
      .center
        h1= title
      p#page-prompt= myprompt
      p#timer-msg.
        You may take as long as you like to complete the next portion of this
        survey. We are using a timer to track how long you take to complete the
        survey and ask that
        should you need to pause or step away before completing the next section
        that you press the Pause Timer Button underneath the clock on the right
        side of your sceen. When you're ready to continue, just press the Start
        Timer button at the bottom the the dialog box on your screen.
      .center
        button#start-button.button.center Start Timer

  script(src="/javascripts/mapping_new.js")
  script(src="https://unpkg.com/axios/dist/axios.min.js")
