extends layout

block content
  h1= title
  p This is the home page for our survey site. To take the survey you must have the unique URL included in your invitation you would have recieved via email.
