doctype html
html
  head
    title= title
    block links
      link(rel='stylesheet', href=`/stylesheets/style.css`)
  body
    .container
      if errmsg
        .error-block
          p#error-msg= errmsg
      .panel
        .pcontainer
          block content

  footer
    h5 Contact
    ul.contact(style=`list-style-type:none;`)
      li   Dr. Csilla Horváth
      li   Nijmegen School of Management, Radboud University
      li   c.horvath@fm.ru.nl
