:root {
  box-sizing: border-box;
  --color1: Red;
  --color2: DarkOrange;
  --color3: Magenta;
  --color4: BlueViolet;
  --color5: LimeGreen;
  --color6: Teal;
  --color7: Cyan;
  --color8: DodgerBlue;
  --color9: SandyBrown;
  --color10: SaddleBrown;
  --color11: Maroon;
  --color12: Navy;
 }
*, ::before, ::after {
  box-sizing: inherit;
}
body * + * {
  margin-top: 1.5em;
}
html, body {
  height: 100%;
}
body {
  display: block;
  /* background-color: ebfff; */
  font-family: Lato, helvetica, sans-serif;
  font-size: 100%;
  padding: 0 0;
  margin: 0;
  width: 96vw;
  height: 100vh;
  color: #333;
  overflow: scroll;
}
.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(3, auto);
  grid-gap: 1.5em;
  max-width: 1080px;
  margin: 0 auto;
}
header {
 grid-column: 1 / 3;
 grid-row: 1 / 2;
 text-align: center;
}
.main {
  display: block
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  min-width: 200px;
}
.brands {
  display: block;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  font-size: 0.8em;
}
.brands li {
  padding-left: 0;
}
.brands li + li {
  padding: 0;
  margin-top: 0.5em;
  margin-bottom: 0;
}
#buttons {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}

#mysvg {
  display: block;
  width: auto;
  margin-right: 2em;
  height: 100%;
  margin: 0;
  background: radial-gradient(circle at 50%, #fefefe 0%, #cbeeff 100%);
    touch-action: none;
}
#exdata, #exnotes {
  color: black;
  display: block;
  margin: 0.5em 0;
  padding: 0 0;
}
p#exnotes {
  word-wrap: break-word;
  width: 100%
  white-space: normal;
}
#exname {
  font-size: 1.3em;
  padding-right: 3em;
}
.del-brand-button {
  margin-bottom: .5em;
  margin-left: 2em;
}
#brand-list {
  display: block;
}
h5 {
  font-size: 1em;
}
#metext {
  font-size: 0.5em;
}
#start-button {
  display: block;
}
#pause-button {
  display: block;
}

/* @media (max-aspect-ratio: 1/1) { */
/*   #mysvg { */
/*     width: auto; */
/*     height: auto; */
/*   } */
/* } */

 #buttons {
   /* display: flex; */
   width: 100%;
   margin: 2em;
 }
 button #submit {
   background-color: green;
   color: white;
 }
 #pt1 {
   fill: var(--color1);
 }
 #pt2 {
   fill: var(--color2);
 }
 #pt3 {
   fill: var(--color3);
 }
 #pt4 {
   fill: var(--color4);
 }
 #pt5 {
   fill: var(--color5);
 }
 #pt6 {
   fill: var(--color6);
 }
 #pt7 {
   fill: var(--color7);
 }
 #pt8 {
   fill: var(--color8);
 }
 #pt9 {
   fill: var(--color9);
 }
 #pt10 {
   fill: var(--color10);
 }
 #pt11 {
   fill: var(--color11);
 }
 #pt12 {
   fill: var(--color12);
 }
 #brand1 {
   color: var(--color1);
 }
 #brand2 {
   color: var(--color2);
 }
 #brand3 {
   color: var(--color3);
 }
 #brand4 {
   color: var(--color4);
 }
 #brand5 {
   color: var(--color5);
 }
 #brand6 {
   color: var(--color6);
 }
 #brand7 {
   color: var(--color7);
 }
 #brand8 {
   color: var(--color8);
 }
 #brand9 {
   color: var(--color9);
 }
 #brand10 {
   color: var(--color10);
 }
 #brand11 {
   color: var(--color11);
 }
 #brand12 {
   color: var(--color12);
 }
 #paused-modal {
  display: block; /* Hidden by default */
  position: fixed;
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
 }
 #brand-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
 }
 div > .modal-content {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  /* background-color: #fefefe; */
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
 }
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#notes {
  rows: 4;
  columns: 40;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=textarea], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
#page-prompt {
  margin: 1em 4em;
  text-align: left;
}
