:root {
  --button-red: hsl(0, 69%, 44%);
  --button-red-hover: hsl(0, 87%, 55%);
  --button-green: hsl(137, 44%, 38%);
  --button-green-hover: hsl(137, 49%, 48%);
  --button-disabled-color: hsl(0, 4%, 62%);
  --panel-grey: #f2f2f2;
  font-size: 0.875em;
}
body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}
.container {
  margin: auto;
  width: 100%;
}
.pcontainer {
  padding: 2em 2em 3em 4em;
}
.main > p {
  margin-top: 3em;
}
header {
  margin-bottom: 1.7em;
}
a {
  color: #00B7FF;
}
.buttons {
  padding-top: 3.5em;
  padding-bottom: 2em;
}
.button + .button {
  margin-left: 2em;
}
.flex {
  display: flex;
  margin-top: 0;
}
.flex-inline {
  flex-basis: 8em;
}
.flex > * + * {
  margin-top: 0;
  margin-left: 2em;
}
 .button {
   display: block;
   width: 10em;
   text-align: center;
   text-decoration: none;
   padding: 0.8em 1em;
   border-radius: 0.5em;
 }
.button.green {
  color: white;
  background-color: var(--button-green);
}

.button.green:focus,
.button.green:hover {
  background-color: var(--button-green-hover);
  color: White;
}
.button.red {
  color: white;
  background-color: var(--button-red);
}

.button.red:focus,
.button.red:hover {
  background-color: var(--button-red-hover);
  color: White;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
 .panel {
  border-radius: 5px;
  background-color: var(--panel-grey);
  border: 1px solid #888;
  margin: auto auto;
  width: 96%; /* Could be more or less, depending on screen size */
 }
.input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.input-pair {
  margin-top: 0;
  margin-bottom: 1.5em;
  padding-top: 0;
}
.show-pair {
  margin-top: 0;
  margin-bottom: 1.5em;
  padding-top: 0;
}
.show-pair>p.label {
  font-weight: bold;
  margin-bottom: 0;
}
.show-pair>p.data {
  border: 1px solid #9e9d9d;
  padding: 0.6em 0.8em;
  margin-top: 0.5em;
  background-color: #fbf9f9;
}
.top-margin {
  margin-top: 3.5em;
}
.tasks {
  display: block;
  padding: 1em 0.8em;
}
.task {
  padding: 0.6em 0em;

}
.task > a{
  font-size: 1.3rem;
  color: #071dad;
}
.error-block {
  width: 90%;
  margin: 0.4em auto;
  border-radius: 5px;
  border: 1px solid #888;
  background-color: var(--button-red);
  color: white;
  font-size: 1.2em;
  padding: 1em 1.5em;
}
.hidden {
  display: none
}
.txtleft {
  text-align: left;
}
.txtright {
  text-align: right;
}
.txtcenter {
  text-align: center;
}
.text-wrap {
  white-space: normal;
}
.button.disabled {
  pointer-events: none;
  background-color: var(--button-disabled-color);
}
footer > h5 {
  padding-left: 2em;
  padding-top: 1em;
  margin-bottom: 0.8em;
  font-size: 1.2em;
}
ul.contact > li {
  margin-top: 0.3em;
  padding-left: 0.3em;
}
