svg#mysvg(xmlns='http://www.w3.org/2000/svg' viewBox='-101 -101 202 202'
preserveAspectRatio=preserveAspectRatio='xMidYMid meet' width='100%')
  circle.ocircle(cx='0' cy='0' r='100' stroke='#ff4d4d' stroke-width='0.3' fill='none')
  circle(cx='0' cy='0' r='.1' stroke='black' fill='black')
  circle(cx='0' cy='0' r='25' stroke='#ff4d4d' stroke-width='0.3' fill='none')
  circle(cx='0' cy='0' r='50' stroke='#ff4d4d' stroke-width='0.3' fill='none')
  circle(cx='0' cy='0' r='75' stroke='#ff4d4d' stroke-width='0.3' fill='none')
  line(x1='-100' y1='0' x2='100' y2='0' stroke='#cccccc' stroke-width='0.3')
  line(x1='0' y1='100' x2='0' y2='-100' stroke='#cccccc' stroke-width='0.3')
  circle(cx='0' cy='0' r='7' stroke='black' fill='none' stroke-width='.2' )
  text( id='metext' x='0' y='1' dominant-baseline='middle' text-anchor='middle') ME
